body {
    background: #bbbbbb;
}

p {
    text-align: center;
    font-style: italic;
    font-family: 'arial black';
    font-size: 35px;
    margin-bottom: 10px;
    /*color: #483D8B;*/
    color: #0000cd;
    text-shadow: 2px 2px 0px #ffff00;
}

#box {
    border: solid 2px;
    width: 280px;
    height: 280px;
    margin: 0 auto;
    font-size: 30px;
    background: #ffffff;
}

#box div {
    box-sizing: border-box;
    text-align: center;
    border: solid 1px;
    width: 70px;
    height: 70px;
    float: left;
    line-height: 70px;
}

#button {
    width: 280px;
    margin: 10px auto ;
    padding-left: 30px;
}

#start, #stop, #reset {
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  background-color: #ffffff;
  height: 33px;
  line-height: 30px;
  box-shadow: 0 3px 0 #dddddd;
  font-weight: bold;
}

#start {
    
}
#stop {
    color: #ff0000;
}
#reset {
    color: #006400;
}
.run {
    background-color: #ff6500;
    
}
.stop {
    background-color: #ff0000;
    
}
.used {
    background-color: #ffcc99;
    color: #999999;
}

